# Obtain this value from the Discord Developer Portal.
DISCORD_TOKEN=

#YOUTUBE
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=
YOUTUBE_POLL_INTERVAL=

#FACEBOOK
FACEBOOK_ACCESS_TOKEN=

#INSTAGRAM
INSTAGRAM_ACCESS_TOKEN=

#TIKTOK
TIKTOK_ACCESS_TOKEN=

#TWITCH
TWITCH_CLIENT_ID=

#TWITTER
TWITTER_BEARER_TOKEN=